#projects {
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    
    
}

.slider {
    width: 90%;
    height: 300px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    justify-content: flex-start;
    gap: 30px;
    scrollbar-width: none;
    /* animation: scroll 5s linear infinite alternate; */
}

#para {
    font-size: 4vmax;
    background: linear-gradient(to right, rgb(232, 15, 232), white);
    background-clip: text;
    color: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    gap:10px;
}
.righticonmini{
    color: rgb(223, 121, 223);
    
}
.righticonmega{
    
    color: rgb(223, 121, 223);
}

/* .minislider{
    animation: scroll 5s linear infinite alternate;
} */

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
       
    }
}

@media (min-width:500px) {
     .righticonmega{
        display: none;
     }
}


