#projects {
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    
    
}

.slider {
    width: 90%;
    height: 300px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    justify-content: center;
    gap: 30px;
    scrollbar-width: none;
    /* animation: scroll 5s linear infinite alternate; */
}

#para {
    font-size: 4vmax;
    background: linear-gradient(to right, rgb(232, 15, 232), white);
    background-clip: text;
    color: transparent;
    text-align: center;
}

/*
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-(.slider.scrollWidth - .slider.clientWidth));
        /* Adjust depending on card width */
    }
}

